@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "cta.scss";
@import "bootstrap-overrides.scss";


/*



font-family: 'Raleway', sans-serif;
font-family: 'Source Sans Pro', sans-serif;



COLORS:

#ce4416
#ff955f
#16324f
#2d707a
#99d8d0

*/




/************************************
 * Close button
************************************/
#closebt-container {
	position: relative;
	width:100%;
	text-align:center;
	margin-top:40px;
  margin-bottom: 40px;
}

.closebt {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor:pointer;
}

.closebt:hover {
	transform:rotate(90deg);
}




.thumb > img {
    width: 100%;
}



#tree{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;

}

/* BLÖCKE */

.textblock{
  margin-top: 50px;
  margin-bottom: 50px;
}

.modal-body{
  overflow: scroll;
}

.wurzel{
  // background: url(../img/blatt.svg) no-repeat;
  // width: 300px;
  // height: 161px;

  transition: all .2s ease-in-out;
	font-size: 30px;

	&#wurzel1{
    position: absolute;
    left: 12%;
    top: 19%;
    display: table;
    text-align: center;

    transform-origin: left;
    transform: scale(1);


    &:hover { transform: scale(1.5) ; }

  }

	&#wurzel2{
		position: absolute;
		left: 12%;
		top: 19%;
		display: table;
		text-align: center;

		transform-origin: left;
		transform: scale(1);


		&:hover { transform: scale(1.5) ; }

	}

	&#wurzel3{
		position: absolute;
		left: 12%;
		top: 19%;
		display: table;
		text-align: center;

		transform-origin: left;
		transform: scale(1);


		&:hover { transform: scale(1.5) ; }

	}

	&#wurzel4{
		position: absolute;
		left: 12%;
		top: 19%;
		display: table;
		text-align: center;

		transform-origin: left;
		transform: scale(1);


		&:hover { transform: scale(1.5) ; }

	}

	&#wurzel5{
		position: absolute;
		left: 12%;
		top: 19%;
		display: table;
		text-align: center;

		transform-origin: left;
		transform: scale(1);


		&:hover { transform: scale(1.5) ; }

	}

}

.leaf{
  background: url(../img/blatt.svg) no-repeat;
  width: 300px;
  height: 161px;

  transition: all .2s ease-in-out;



  .text{
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
    color: #fff;
  }

  &.active{
    background: url(../img/blatt_active.svg) no-repeat;
  }

  &#leaf1{
    position: absolute;
    left: 22%;
    top: 39%;
    display: table;
    text-align: center;

    transform-origin: left;
    transform: scale(0.5) rotate(-40deg);

    &:hover { transform: scale(.9) rotate(-40deg); }

  }

  &#leaf2{
    position: absolute;
    left: 32%;
    top: 49%;
    display: table;
    text-align: center;

    transform-origin: left;
    transform: scale(0.5) rotate(-40deg);

    &:hover { transform: scale(.9) rotate(-40deg); }

  }

  &#leaf3{
    position: absolute;
    left: 42%;
    top: 49%;
    display: table;
    text-align: center;

    transform-origin: left;
    transform: scale(0.5) rotate(-10deg);

    &:hover { transform: scale(.9) rotate(-10deg); }

  }
}
